@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.container {
  width: 71%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@media (max-width: 1599px) {
  .container {
    width: 96%;
  }
}

@media (max-width: 767px) {
  .container {
    width: 91%;
  }
}

.form__legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
}

.form__legend-wrp {
  width: 100%;
}

@media (max-width: 1599px) {
  .form__legend-wrp {
    width: 49%;
  }
}

@media (max-width: 767px) {
  .form__legend-wrp {
    width: 100%;
  }
}

.form__input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  padding-left: 17px;
  width: 100%;
  height: 45px;
  border: 1px solid #A4A4A4;
}

.form__input:hover,
.form__input:focus {
  background-color: darkgray;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.form__legend--uppercase {
  text-transform: uppercase;
}

.header {
  background-color: #222222;
  min-height: 75px;
  position: relative;
}

.header__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-form-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.header__search {
  margin-left: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__burger-btn {
  border: none;
  background: #222222;
}

.header__burger-logo {
  fill: #E8E8E8;
}

.header__burger-btn:hover .header__burger-logo,
.header__burger-btn:focus .header__burger-logo {
  fill: #F16D7F;
}

.header__burger-btn:active .header__burger-logo {
  fill: #E29595;
}

.header__link {
  margin-left: 33px;
  text-decoration: none;
}

.header__link-logo {
  fill: #E8E8E8;
}

.header__link:hover .header__link-logo,
.header__link:focus .header__link-logo {
  fill: #F16D7F;
}

.header__link:active .header__link-logo {
  fill: #E29595;
}

.header__search-btn {
  border: none;
  background: #222222;
}

.header__search-logo {
  fill: #E8E8E8;
}

.header__search-btn:hover .header__search-logo,
.header__search-btn:focus .header__search-logo {
  fill: #F16D7F;
}

.header__search-btn:active .header__search-logo {
  fill: #E29595;
}

.header__search-input {
  padding-left: 10px;
  border-radius: 25px;
  display: none;
}

.header__search-btn:focus + .header__search-input {
  display: block;
}

.header__search-input:focus,
.header__search-input:hover {
  display: block;
  background-color: darkgray;
}

.header__nav {
  position: absolute;
  right: 0;
  width: 323px;
  height: 764px;
  background: white;
  padding: 37px 0 0 34px;
  display: none;
}

.header__burger-btn:hover + .header__nav,
.header__burger-btn:focus + .header__nav {
  display: block;
  z-index: 5;
}

.header__nav:hover {
  display: block;
}

.header__nav-tittle {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 24px;
}

.header__nav-item {
  margin-bottom: 20px;
}

.nav-sub-item__title-link {
  color: #F16D7F;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-sub-item__list {
  margin-top: 20px;
}

.nav-sub-item {
  margin-bottom: 11px;
}

.nav-sub-item__link {
  text-decoration: none;
  padding-left: 20px;
  color: #6F6E6E;
  margin-bottom: 30px;
}

.nav-sub-item__link:hover, .nav-sub-item__link:focus {
  color: #F16D7F;
}

.nav-sub-item__link:active {
  color: #E29595;
}

@media (max-width: 1599px) {
  .header__logo-form-wrp {
    margin: 0 0 0 16px;
  }
  .header__burger-basket-wrp {
    margin: 0 16px 0 0;
  }
}

@media (max-width: 767px) {
  .header__link {
    display: none;
  }
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F1E4E6;
  margin-bottom: 63px;
}

.brand__title-wrp {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 92px;
}

@media (max-width: 1599px) {
  .brand__title-wrp {
    padding-left: 62px;
  }
}

@media (max-width: 767px) {
  .brand__title-wrp {
    min-height: 363px;
    padding: 0;
  }
}

.brand__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

@media (max-width: 1599px) {
  .brand__title {
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand__title {
    font-size: 38px;
    line-height: 45px;
    font-weight: 900;
    font-style: normal;
    margin: 0 auto;
  }
}

.brand__subtitle {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  display: block;
}

@media (max-width: 1599px) {
  .brand__subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .brand__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand__subtitle-pink {
  color: #F09BA7;
}

.brand__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 800px;
  height: 765px;
}

@media (max-width: 1599px) {
  .brand__img {
    height: 367px;
    width: 50%;
  }
}

@media (max-width: 767px) {
  .brand__img {
    display: none;
  }
}

.sales__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 96px;
}

@media (max-width: 1599px) {
  .sales__list {
    margin-bottom: 187px;
  }
}

@media (max-width: 767px) {
  .sales__list {
    margin-bottom: 64px;
  }
}

.sales__item {
  width: 31%;
  min-height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-position: top center;
  background-size: cover;
}

@media (max-width: 1599px) {
  .sales__item {
    min-height: 167px;
  }
}

@media (max-width: 767px) {
  .sales__item {
    width: 100%;
    min-height: 247px;
  }
  .sales__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.sales__item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.sales__item--woman {
  background-image: url(../img/category_for_women.png);
}

.sales__item--man {
  background-image: url(../img/category_for_men.png);
}

.sales__item--kids {
  background-image: url(../img/category_for_kids.png);
}

.sales__item--accesories {
  background-image: url(../img/category_accesories.png);
  background-repeat: no-repeat;
  margin-top: 30px;
  width: 100%;
  min-height: 180px;
}

@media (max-width: 1599px) {
  .sales__item--accesories {
    margin-top: 20px;
    min-height: 116px;
  }
}

@media (max-width: 767px) {
  .sales__item--accesories {
    min-height: 111px;
    margin-top: 0;
  }
}

.sales__item-offer {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
}

.sales__item-chapter {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
}

.products__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  margin-bottom: 6px;
}

.products__subtitle {
  font-weight: 400;
  text-align: center;
  color: #9F9F9F;
  margin-bottom: 48px;
}

@media (max-width: 1599px) {
  .products__subtitle {
    margin-bottom: 72px;
  }
}

@media (max-width: 767px) {
  .products__subtitle {
    margin-bottom: 64px;
  }
}

.products__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 18px;
}

@media (max-width: 1599px) {
  .products__list {
    margin-bottom: 2px;
  }
}

@media (max-width: 767px) {
  .products__list {
    margin-bottom: 11px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.products__item {
  width: 31%;
  height: 581px;
  margin-bottom: 30px;
  background-color: #F8F8F8;
}

@media (max-width: 1599px) {
  .products__item {
    width: 49%;
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {
  .products__item {
    width: 100%;
  }
}

.products__item-overlay {
  position: relative;
  height: 420px;
}

.products__item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.products__item-overlay:before {
  content: '';
  top: 0;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.products__item-btn {
  font-weight: 400;
  color: #FFFFFF;
  padding: 13px 15px 13px 50px;
  border: 1px solid #FFFFFF;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.products__item-btn:before {
  /* корзинка к кнопке */
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  left: 13px;
  background-image: url(../img/products__item-btn-basket.svg);
}

.products__item:hover .products__item-overlay:before,
.products__item:hover .products__item-btn {
  display: block;
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.products__item-btn:hover, .products__item-btn:focus {
  background-color: #E05C6E;
  color: #FFFFFF;
}

.products__item-btn:active {
  background-color: #E29595;
}

.produts__description {
  padding: 25px 28px 20px 18px;
}

.products__item-title {
  text-transform: uppercase;
}

.products__item-text {
  margin-top: 12px;
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.products__item-price {
  margin-top: 12px;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.products__btn {
  margin-bottom: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__link {
  border: 1px solid #FF6A6A;
  padding: 14px 38px;
  color: #F26376;
  text-decoration: none;
  margin: 0 auto;
}

.products__link:hover, .products__link:focus {
  background-color: #F16D7F;
  color: #FFFFFF;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.products__link:active {
  background-color: #E29595;
}

.features {
  background-color: #222224;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1599px) {
  .features__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.features__item {
  max-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 103px 0;
}

@media (max-width: 1599px) {
  .features__item {
    padding-top: 48px;
    padding-bottom: 0;
  }
  .features__item:last-child {
    padding-bottom: 64px;
  }
}

@media (max-width: 767px) {
  .features__item:last-child {
    padding-bottom: 81px;
  }
}

.features__img {
  margin-bottom: 28px;
}

.features__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.features__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: #9F9F9F;
}

.footer__review-form {
  background-image: url(../img/footer_img.png);
  background-size: cover;
}

.footer__review-form-wrap {
  min-height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1599px) {
  .footer__review-form-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__review {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1599px) {
  .footer__review {
    margin: 64px 0 48px 0;
  }
}

@media (max-width: 767px) {
  .footer__review {
    margin-bottom: 59px;
  }
}

.footer__review-img {
  margin-bottom: 30px;
}

.footer__review-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.footer__review-text--italic {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__form-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__form-title {
  margin-bottom: 32px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

@media (max-width: 1599px) {
  .footer__form-title {
    font-size: 18px;
    line-height: 29px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 27px;
  }
}

@media (max-width: 767px) {
  .footer__form-title {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 22px;
  }
}

.footer__form-title--bold {
  font-size: 24px;
  line-height: 37px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  display: block;
}

@media (max-width: 1599px) {
  .footer__form-title--bold {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .footer__form-title--bold {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 1599px) {
  .footer__form {
    margin-bottom: 140px;
  }
}

@media (max-width: 767px) {
  .footer__form {
    margin-bottom: 109px;
  }
}

.footer__form-input {
  padding-left: 22px;
  background-color: #E1E1E1;
  width: 256px;
  height: 50px;
  border: none;
  border-radius: 25px 0 0 25px;
}

.footer__form-input:hover, .footer__form-input:focus {
  background-color: darkgray;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.footer__form-btn {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  background-color: #F16D7F;
  width: 100px;
  height: 52px;
  border: none;
  border-radius: 0 25px 25px 0;
}

@media (max-width: 767px) {
  .footer__form-btn {
    width: 91%;
  }
}

.footer__form-btn:hover, .footer__form-btn:focus {
  background-color: #E05C6E;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__form-btn:active {
  background-color: #E29595;
}

/* нижняя часть footer */
.footer__copy-social {
  background-color: #222224;
  min-height: 79px;
}

.footer__copy-social-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1599px) {
  .footer__copy-social-wrap {
    width: 91%;
  }
}

@media (max-width: 767px) {
  .footer__copy-social-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer__copy-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
  padding: 30px 0;
}

@media (max-width: 767px) {
  .footer__copy-text {
    padding: 49px 0 9px 0;
  }
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .social__list {
    margin-top: 43px;
  }
}

.social__item {
  margin-left: 7px;
}

.social__icon {
  fill: #FFFFFF;
}

.social__logo {
  fill: #000000;
}

.social__icon:hover {
  fill: #F16D7F;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.social__icon:hover .social__logo {
  fill: white;
}

.social__link:focus .social__icon {
  fill: #F16D7F;
}

.social__link:focus .social__logo {
  fill: white;
}

.social__link:active .social__icon {
  fill: #E29595;
}

.registration-top {
  min-height: 148px;
  background-color: #F8F3F4;
}

.registrarion-header {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
}

.registration__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 96px;
}

@media (max-width: 767px) {
  .registration__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
    margin-bottom: 100px;
  }
}

.registration__form {
  width: 31%;
}

@media (max-width: 1599px) {
  .registration__form {
    width: 49%;
  }
}

@media (max-width: 767px) {
  .registration__form {
    width: 95%;
  }
}

.registration__gender {
  margin: 33px 0;
}

.registration__radio {
  margin-left: 0;
}

.registration__radio-text {
  margin-right: 20px;
}

.registration__radio--easter-egg, .registration__radio-text--easter-egg {
  display: none;
}

@media (max-width: 1599px) {
  .registration__radio--easter-egg, .registration__radio-text--easter-egg {
    display: inline;
  }
}

.registration__form-hint {
  margin-top: 16px;
  margin-bottom: 39px;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
}

.registration__form-btn {
  position: relative;
  text-transform: uppercase;
  padding: 16px 66px 16px 29px;
  background-color: #F16D7F;
  border: none;
  color: #FFFFFF;
}

.registration__form-btn:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 10px;
  background-image: url(../img/registration-btn-arrow.svg);
  background-repeat: no-repeat;
  right: 29px;
  top: 18px;
}

.registration__form-btn:hover,
.registration__form-btn:focus {
  background-color: #E05C6E;
  color: #FFFFFF;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.registration__form-btn:active {
  background-color: #E29595;
}

.registration__offer {
  width: 57%;
}

@media (max-width: 1599px) {
  .registration__offer {
    width: 48%;
  }
}

@media (max-width: 767px) {
  .registration__offer {
    width: 91%;
    margin-top: 40px;
  }
}

.registration__offer-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 22px;
}

@media (max-width: 1599px) {
  .registration__offer-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

@media (max-width: 767px) {
  .registration__offer-title {
    margin-bottom: 32px;
  }
}

.registration__offer-text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 21px;
}

@media (max-width: 1599px) {
  .registration__offer-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.registration__offer-item {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 16px;
  padding-left: 43px;
  position: relative;
}

@media (max-width: 1599px) {
  .registration__offer-item {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.registration__offer-item::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 16px;
  background-image: url(../img/registration-mark.svg);
  left: 0;
  top: 8px;
}

.cart-top {
  min-height: 148px;
  background-color: #F8F3F4;
}

.cart-top__header {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-top__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 96px;
  margin-bottom: 128px;
}

@media (max-width: 1599px) {
  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .cart {
    margin-bottom: 96px;
  }
}

.cart__basket {
  width: 57%;
}

@media (max-width: 1599px) {
  .cart__basket {
    width: 100%;
    margin-bottom: 62px;
  }
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 15px 15px 14px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 15px 15px 14px 0px rgba(34, 60, 80, 0.2);
}

.cart__item-margin {
  margin-bottom: 40px;
}

.cart__discription {
  padding: 22px 97px 62px 31px;
}

.cart__discription-title {
  text-transform: uppercase;
  margin-bottom: 42px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
}

.cart__discription-subtitle {
  display: block;
}

.cart__discription-text {
  margin-bottom: 6px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: #575757;
}

.cart__discription-subtext {
  color: #F16D7F;
}

.cart__discription-input {
  border: 1px solid #EAEAEA;
  margin-left: 24px;
  width: 44px;
  height: 25px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #656565;
}

.cart__basket-btn-wrp {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1599px) {
  .cart__basket-btn-wrp {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .cart__basket-btn-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1599px) {
  .cart__basket-btn--margin {
    margin-left: 46px;
  }
}

@media (max-width: 767px) {
  .cart__basket-btn--margin {
    margin-left: 0;
  }
}

.cart__basket-btn {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  padding: 16px 39px;
  border: 1px solid #A4A4A4;
  background: none;
}

@media (max-width: 767px) {
  .cart__basket-btn {
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.cart__form {
  width: 31%;
}

@media (max-width: 1599px) {
  .cart__form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .cart__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cart__shipping-btn {
  text-transform: uppercase;
  padding: 10px 14px 12px 15px;
  margin-top: 23px;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  color: #A4A4A4;
}

.cart__checkout {
  margin-top: 57px;
  background-color: #F5F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1599px) {
  .cart__checkout {
    width: 49%;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .cart__checkout {
    width: 100%;
    margin-top: 49px;
  }
}

.cart__subtotal {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 39px 34px 0 0;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.cart__grandtotal {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 12px 37px 21px 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}

.cart__grandtotal--decor {
  color: #F16D7F;
}

.cart__checkout-btn-wrp {
  display: inline-block;
  border-top: 1px solid #E2E2E2;
  padding-top: 17px;
  margin-bottom: 42px;
}

.cart__checkout-btn {
  padding: 15px 42px;
  background-color: #F16D7F;
  border: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
}

.product-top {
  min-height: 148px;
  background-color: #F8F3F4;
}

.product-header {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
}

.product__discription {
  margin-top: -65px;
  margin-bottom: 129px;
  border: 1px solid #EAEAEA;
  background-color: #fff;
  position: relative;
  padding: 65px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__discription-title {
  text-transform: uppercase;
  color: #F16D7F;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  position: relative;
  margin-bottom: 12px;
}

.product__discription-tittle-br {
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  margin-bottom: 12px;
}

.product__discription-subtitle {
  text-transform: uppercase;
  color: #4D4D4D;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 48px;
}

.product__discription-text {
  color: #5E5E5E;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  width: 48%;
  margin-bottom: 32px;
}

.product__discription-price {
  color: #EF5B70;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  font-style: normal;
  margin-bottom: 126px;
}

.product__discription-price-br {
  width: 56%;
  height: 1px;
  background-color: #EAEAEA;
  margin-bottom: 65px;
}

.product__discription-btn {
  padding: 14px 56px 14px 72px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F26376;
  background: none;
  border: 1px solid #FF6A6A;
  position: relative;
}

.product__discription-btn:before {
  /* корзинка к кнопке */
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  left: 24px;
  background-image: url(../../img/product-discription-btn-basket.svg);
}

.product__discription-btn:hover, .product__discription-btn:focus {
  background-color: #E05C6E;
  color: #FFFFFF;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.product__discription-btn:active {
  background-color: #E29595;
}

.product__discription-preference {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 49px;
}

.product__discription-dropdown:not(:last-child) {
  margin-right: 10px;
}

.product__discription-dropdown-btn {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #6F6E6E;
}

.breadcrumb-item {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.breadcrumb-item--active {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
}

.breadcrumb-item__link {
  text-decoration: none;
  color: #636363;
}

.carousel-bootstrap {
  background-color: #F7F7F7;
}

.carousel-item img {
  height: 724px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 11px 0 24px 0;
}

.carousel-control-next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.carousel-control__logo {
  fill: #000000;
}

.carousel-control-next:hover {
  fill: #F16D7F;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.carousel-control-prev:hover {
  fill: #F16D7F;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.catalog__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 188px;
  margin-bottom: 188px;
}

@media (max-width: 1599px) {
  .catalog__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 81px;
    margin-bottom: 147px;
  }
}

@media (max-width: 767px) {
  .catalog__list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 1599px) {
  .catalog__item-hidden-tablet {
    display: none;
  }
}

.catalog__item {
  height: 581px;
  background-color: #F8F8F8;
}

@media (max-width: 1599px) {
  .catalog__item {
    margin-bottom: 16px;
  }
}

.catalog__item-overlay {
  position: relative;
  height: 420px;
}

.catalog__item-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
}

.catalog__item-overlay:before {
  content: '';
  top: 0;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.catalog__item-btn {
  font-weight: 400;
  color: #FFFFFF;
  padding: 13px 15px 13px 50px;
  border: 1px solid #FFFFFF;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.catalog__item-btn:before {
  /* корзинка к кнопке */
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  left: 13px;
  background-image: url(../img/products__item-btn-basket.svg);
}

.catalog__item:hover .catalog__item-overlay:before,
.catalog__item:hover .catalog__item-btn {
  display: block;
  opacity: 1;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.catalog__item-btn:hover, .catalog__item-btn:focus {
  background-color: #E05C6E;
  color: #FFFFFF;
}

.catalog__item-btn:active {
  background-color: #E29595;
}

.catalog__description {
  padding: 25px 28px 20px 18px;
}

.catalog__item-title {
  text-transform: uppercase;
}

.catalog__item-text {
  margin-top: 12px;
  color: #9F9F9F;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.catalog__item-price {
  margin-top: 12px;
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
/*# sourceMappingURL=style.css.map */