
$black: #222222;
$pink-bgc: #F1E4E6;
$pink-color: #F09BA7;
$gray-text: #9F9F9F;
$gray-bgc: #F8F8F8;
$pink-price: #F16D7F;
$pink-products__link: #F26376;
$pink-products__btn-border : #FF6A6A;

$tablet-width: 1599px;
$mobile-width: 767px;