.brand {
    display: flex;
    background-color: $pink-bgc;
    margin-bottom: 63px;

    &__title-wrp {
        flex-grow: 1;
        display: flex;
        align-items: center;
        padding-left: 92px;

        @include tablet {
            padding-left: 62px;
        }

        @include mobile {
            min-height: 363px;
            padding: 0;
        }
    }

    &__title {
        @include font (48px, 58px, 900);
        text-transform: uppercase;
        border-left: 12px solid $pink-price;
        padding-left: 16px;

        @include tablet {
            @include font(44px, 52px, 900);
        }

        @include mobile {
            @include font(38px, 45px, 900);
            margin: 0 auto;
        }
    }

    &__subtitle {
        @include font (32px, 38px, 700);
        display: block;

        @include tablet {
            @include font(24px, 28px);
        }

        @include mobile {
            @include font(20px, 24px, 700);
        }
    }

    &__subtitle-pink {
        color: $pink-color;
    }
}

.brand__img {
    object-fit: contain;
    width: 800px;
    height: 765px;

    @include tablet {
        height: 367px;
        width: 50%;
    }

    @include mobile {
        display: none;
    }
}