.cart-top {
    min-height: 148px;
    background-color: #F8F3F4;

    &__header {
        height: 148px;
        display: flex;
        align-items: center;
    }

    &__title {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        color: $pink-price;
    }
}

.cart {
    @include flex-between;
    margin-top: 96px;
    margin-bottom: 128px;

    @include tablet {
        flex-direction: column;
    }

    @include mobile {
        margin-bottom: 96px;
    }
}

.cart__basket {
    width: 57%;

    @include tablet {
        width: 100%;
        margin-bottom: 62px;
    }
}

.cart__item {
    display: flex;
    -webkit-box-shadow: 15px 15px 14px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 15px 15px 14px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 15px 15px 14px 0px rgba(34, 60, 80, 0.2);
}

.cart__item-margin {
    margin-bottom: 40px;
}

.cart__discription {
    padding: 22px 97px 62px 31px;
}

.cart__discription-title {
    text-transform: uppercase;
    margin-bottom: 42px;
    @include font(24px, 29px);
}

.cart__discription-subtitle {
    display: block;
}

.cart__discription-text {
    margin-bottom: 6px;
    @include font(22px, 26px);
    color: #575757;
}

.cart__discription-subtext {
    color: $pink-price;
}

.cart__discription-input {
    border: 1px solid #EAEAEA;
    margin-left: 24px;
    width: 44px;
    height: 25px;
    text-align: center;
    @include font(18px, 22px);
    color: #656565;
}


.cart__basket-btn-wrp {
    margin-top: 72px;
    @include flex-between;

    @include tablet {
        justify-content: center;
    }

    @include mobile {
        @include flex-between
    }
}

.cart__basket-btn--margin {
    @include tablet {
        margin-left: 46px;
    }

    @include mobile {
        margin-left: 0;
    }
}

.cart__basket-btn {
    text-transform: uppercase;
    @include font(14px, 17px, 300);
    padding: 16px 39px;
    border: 1px solid #A4A4A4;
    background: none;

    @include mobile {
        width: 48%;
        @include flex-between
    }
}


.cart__form {
    width: 31%;

    @include tablet {
        width: 100%;
        @include flex-between
    }

    @include mobile {
        flex-direction: column;
    }
}



.cart__shipping-btn {
    text-transform: uppercase;
    padding: 10px 14px 12px 15px;
    margin-top: 23px;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    color: #A4A4A4;
}

.cart__checkout {
    margin-top: 57px;
    background-color: #F5F3F3;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        width: 49%;
        margin-top: 0;
    }

    @include mobile {
        width: 100%;
        margin-top: 49px;
    }
}

.cart__subtotal {
    align-self: flex-end;
    padding: 39px 34px 0 0;
    @include font(11px, 13px);
    text-transform: uppercase;
}

.cart__grandtotal {
    align-self: flex-end;
    padding: 12px 37px 21px 0;
    @include font(16px, 19px, 300);
    text-transform: uppercase;
}

.cart__grandtotal--decor {
    color: $pink-price;
}

.cart__checkout-btn-wrp {
    display: inline-block;
    border-top: 1px solid #E2E2E2;
    padding-top: 17px;
    margin-bottom: 42px;
}

.cart__checkout-btn {
    padding: 15px 42px;
    background-color: $pink-price;
    border: none;
    text-transform: uppercase;
    color: #FFFFFF;
    @include font(16px, 19px, 300);
}