.footer__review-form {
    background-image: url(../img/footer_img.png);
    background-size: cover;

    &-wrap {
        min-height: 448px;
        @include flex-between;
        align-items: center;

        @include tablet {
            flex-direction: column;
        }
    }
}

.footer__review {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        margin: 64px 0 48px 0;
    }

    @include mobile {
        margin-bottom: 59px;
    }

    &-img {
        margin-bottom: 30px;
    }

    &-text {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
    
        &--italic {
            font-size: 20px;
            font-style: italic;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
        }
    }
}

.footer__form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-wrp {
        display: flex;
    }

    &-title {
        margin-bottom: 32px;
        text-transform: uppercase;
        @include font (18px, 30px, 400);
        text-align: center;

        @include tablet {
            @include font (18px, 29px, 400);
            margin-bottom: 27px;
        }
        @include mobile {
            @include font(14px, 21px, 400);
            margin-bottom: 22px;
        }

        &--bold {  //subscribe
            @include font (24px, 37px, 700);
            text-align: center;
            display: block;
            @include tablet {
                @include font(18px, 27px, 700);
            }
            @include mobile {
                @include font(24px, 36px, 700);
            }
        }
    }

    @include tablet {
        margin-bottom: 140px;
    }

    @include mobile {
        margin-bottom: 109px;
    }
}

.footer__form-input{
    padding-left: 22px;
    background-color: #E1E1E1;
    width: 256px;
    height: 50px;
    border: none;
    border-radius: 25px 0 0 25px;
}

.footer__form-input:hover, .footer__form-input:focus {
    background-color: darkgray;
    transition: 0.8s;
}

.footer__form-btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFF;
    background-color: #F16D7F;
    width: 100px;
    height: 52px;
    border: none;
    border-radius: 0 25px 25px 0;

    @include mobile {
        width: 91%;
    }
}

.footer__form-btn:hover, .footer__form-btn:focus {
    background-color: #E05C6E;
    color: #FFFFFF;
    transition: 0.5s;
}

.footer__form-btn:active {
    background-color: #E29595;
} 

/* нижняя часть footer */

.footer__copy-social {
    background-color: #222224;
    min-height: 79px;

    &-wrap {
        @include flex-between;
        align-items: center;

        @include tablet {
            width: 91%;
        }

        @include mobile {
            flex-direction: column-reverse;
        }
    }
}

.footer__copy-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FBFBFB;
    padding: 30px 0;

    @include mobile {
        padding: 49px 0 9px 0;
    }
}

.social__list {
    display: flex;

    @include mobile {
        margin-top: 43px;
    }
}

.social__item {
    margin-left: 7px;
}

.social__icon {
    fill: #FFFFFF;
}

.social__logo {
    fill: #000000;
}

.social__icon:hover {
    fill: $pink-price;
    transition: 0.8s;
}

.social__icon:hover .social__logo {
    fill: white;
}

.social__link:focus .social__icon {
    fill: $pink-price;
}

.social__link:focus .social__logo {
    fill: white;
}

.social__link:active .social__icon {
    fill: #E29595;
}