.registration-top {
    min-height: 148px;
    background-color: #F8F3F4;
}

.registrarion-header {
    height: 148px;
    display: flex;
    align-items: center;
}

.registration__title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: $pink-price;
}

.registration__data {
    @include flex-between;
    margin-top: 64px;
    margin-bottom: 96px;

    @include mobile {
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 100px;
    }
}

.registration__form {
    width: 31%;

    @include tablet {
        width: 49%;
    }

    @include mobile {
        width: 95%;
    }
}



.registration__gender {
    margin: 33px 0;
}

.registration__radio {
    margin-left: 0;

}

.registration__radio-text {
    margin-right: 20px;
}

.registration__radio--easter-egg, .registration__radio-text--easter-egg {
    display: none;

    @include tablet {
        display: inline;
    }
}

.registration__form-hint {
    margin-top: 16px;
    margin-bottom: 39px;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    color: #B1B1B1;
}

.registration__form-btn {
    position: relative;
    text-transform: uppercase;
    padding: 16px 66px 16px 29px;
    background-color: $pink-price;
    border: none;
    color: #FFFFFF;
}

.registration__form-btn:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 10px;
    background-image: url(../img/registration-btn-arrow.svg);
    background-repeat: no-repeat;
    right: 29px;
    top: 18px;
}

.registration__form-btn:hover,
.registration__form-btn:focus {
    background-color: #E05C6E;
    color: #FFFFFF;
    transition: 0.8s;
}

.registration__form-btn:active {
    background-color: #E29595;
}

.registration__offer {
    width: 57%;

    @include tablet {
        width: 48%;
    }

    @include mobile {
        width: 91%;
        margin-top: 40px;
    }
}

.registration__offer-title {
    @include font(24px, 28px, 300);
    text-transform: uppercase;
    margin-bottom: 22px;

    @include tablet {
        @include font(16px, 19px, 300);
    }
    @include mobile {
        margin-bottom: 32px;
    }
}

.registration__offer-text {
    @include font (24px, 28px, 300);
    margin-bottom: 21px;

    @include tablet {
        @include font(16px, 19px, 300);
    }
}

.registration__offer-item {
    @include font (24px, 28px, 300);
    margin-bottom: 16px;
    padding-left: 43px;
    position: relative;

    @include tablet {
        @include font(16px, 19px, 300);
    }
}

.registration__offer-item::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 16px;
    background-image: url(../img/registration-mark.svg);
    left: 0;
    top: 8px;
}