.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 96px;
}

.sales__item {
    width: 360px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sales__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
}

.sales__item--woman {
    background-image: url(../img/category_for_women.png);
}

.sales__item--man {
    background-image: url(../img/category_for_men.png);
}

.sales__item--kids {
    background-image: url(../img/category_for_kids.png);
}

.sales__item--accesories {
    background-image: url(../img/category_accesories.png);
    background-repeat: no-repeat;
    margin-top: 30px;
    width: 100%;
    height: 160px;
}

.sales__item-offer {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}

.sales__item-chapter {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: $pink-price;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
}